@import url('https://fonts.googleapis.com/css?family=Open Sans');

body {
  background-color: #152347;
  color: white;
  font-family: 'Open Sans';font-size: 15px;
  width: auto;
}

html, body {
  padding: 0;
  margin: 0;
}

.hacktober-logo {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.hacktober-logo img {
  width: 350px;
}

.header-title {
  text-align: center;
  color: #fff;
}

.buttons {
  width: 100%;
  display: flex;
  justify-content: center;
}

.buttons a, .inlineLink {
  background: #a11ec6;
  border-color: #a11ec6;
  border: 0;
  cursor: pointer;
  padding: 5px;
  margin: 0 5px 0 5px;
  color: white !important;
  transition: .2s;
  text-decoration: none;
}

.buttons a:hover,  .inlineLink:hover {
  background: #92eaff;
  color: #1d2c4e !important;
  box-shadow: 3px 3px 0 1px #45717b6b;
}

.header, .text {
  text-align: center;
}

.text {
  margin-top: 3rem;
  margin-bottom: 3rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #0e1b3c;
}

.header-name {
  text-align: center;
}

.text {
  padding: 5px;
  background: #0e1b3c;
  box-shadow: 3px 3px 0 3px #0a142b;
}

.chris {
  padding: 5px;
  background: #0e1b3c;
  box-shadow: 3px 3px 0 3px #0a142b;
  border:5px solid #021a40;
  border-color: #A11EC6;
  border-radius: 200px;
}

.content {
  margin-top: 10px;
}

.content div {
  margin-left: 10px;
  margin-right: 10px;
}

.text {
  vertical-align: middle;
}
